[Unit]
Description=OpenSearch Dasbboards
Documentation=https://opensearch.org

[Service]
Environment=OPENSEARCH_HOME=/usr/share/opensearch
Environment=OPENSEARCH_CONF_CONF=/usr/share/opensearch/config
Environment=PID_DIR=/var/run/opensearch
Environment=OPENSEARCH_SD_NOTIFY=true

WorkingDirectory=/home/ec2-user/opensearch

User=ec2-user
Group=ec2-user
PermissionsStartOnly=true
Requires=opensearch.service
After=opensearch.service
ExecStart=/home/ec2-user/scripts/opensearch-dashboards.sh
Restart=on-failure
PIDFile=/var/run/opensearch-dashboards/opensearch-dashboards.pid
LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
#KillMode=process
SendSIGKILL=no
#SuccessExitStatus=143
TimeoutStartSec=75

[Install]
WantedBy=multi-user.target